body {
  margin: 0;
  padding: 0;
}

#header {
  top: 0;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-image: url("./pic/header.jpg");
}
#header h1 {
  margin: auto;
  text-align: center;
  padding-top: 30px;
  color: antiquewhite;
}
#nav {
  background-color: #000;
  border: 1px solid #fff;
  transition: cubic-bezier(1, 0, 0, 1) 0.5s;
}
#nav ul {
  margin: auto;
  padding: 0px 0px 15px 15px;
  text-align: center;
  font-family: Tahoma, Arial;
  padding: 0.4em;
}
#nav li {
  display: inline;
  margin-right: 20px;
  line-height: 14px;
  display: inline-block;
  cursor: pointer;
}
#nav a {
  color: #ffffff;
  text-decoration: none;
}
#nav a:hover {
  background-color: aqua;
  color: #000;
  text-decoration: none;
}
#footer {
  background-color: #ffffff;
  width: 95%;
  height: 25px;
  border: 1px solid #000;
  float: left;
  position: fixed;
  margin-left: 20px;
  left: 0;
  bottom: 0;
}
#footer h6 {
  text-align: center;
  margin: auto;
}

.info div {
  float: left;
  margin-right: 70px;
  border: 2px solid #000;
  width: 250px;
  height: 250px;
}

#nrTel {
  text-align: center;
}
#email {
  padding: 10%;
}
