body {
  margin: 0;
  padding: 0;
}

#header {
  top: 0;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-image: url("./img/header.jpg");
}
#header h1 {
  margin: auto;
  text-align: center;
  padding-top: 30px;
  color: antiquewhite;
}
#nav {
  background-color: #000;
  border: 1px solid #fff;
  transition: cubic-bezier(1, 0, 0, 1) 0.5s;
}
#nav ul {
  margin: auto;
  padding: 0px 0px 15px 15px;
  text-align: center;
  font-family: Tahoma, Arial;
  padding: 0.4em;
}
#nav li {
  display: inline;
  margin-right: 20px;
  line-height: 14px;
  display: inline-block;
  cursor: pointer;
}
#nav a {
  color: #ffffff;
  text-decoration: none;
}
#nav a:hover {
  background-color: aqua;
  color: #000;
  text-decoration: none;
}

.info div {
  float: left;
  margin-right: 70px;
  border: 2px solid #000;
  width: 250px;
  height: 250px;
}
#Galeria {
  position: relative;
}
#Galeria_wprowadzenie {
  text-align: center;
}
#Galeria_container {
  display: block;
  padding: 5px;
  width: 80%;
  height: 750px;
  margin: 0 auto;
  border: solid #000;
}
#Galeria_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}
.prev-btn:hover,
.next-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn:active,
.next-btn:active {
  transform: translateY(-50%) scale(0.9);
}
